@media print,
(max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 30px;
    }


    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }


    .block
    {
        margin-bottom: 68px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 32px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        margin-bottom: 24px;
        padding-top: 24px;
    }


    header .logo img
    {
        height: 32px;
    }


    header .search
    {
        width: 208px;
    }


    header .search .input
    {
        height: 40px;
        padding-right: 51px;
    }


    header .contacts
    {
        margin-left: 20px;
    }


    header .contacts .phone
    {
        font-size: 18px;
    }


    header .contacts .time
    {
        font-size: 13px;
    }


    header .location
    {
        width: 168px;
        margin-left: 20px;
    }


    header .location .btn
    {
        height: 40px;
    }


    header .callback_btn
    {
        font-size: var(--font_size);

        width: 168px;
        height: 40px;
    }


    header .menu
    {
        margin-top: 24px;
    }


    header .menu_item > a
    {
        font-size: var(--font_size);
    }



    /*-------------
        Sidebar
    -------------*/



    /*---------------
        Page head
    ---------------*/



    /*----------------
        Block head
    ----------------*/



    /*------------------
        Form elements
    ------------------*/



    /*----------------
        Typography
    ----------------*/



    /*----------------
        Error info
    ----------------*/
    .error_info
    {
        padding-top: 40px;
    }


    .error_info .data
    {
        width: 424px;
    }


    .error_info .title
    {
        font-size: 18px;
    }


    .error_info .code
    {
        font-size: 180px;
    }


    .error_info .link
    {
        margin-top: 40px;
    }


    .error_info .link a
    {
        font-size: var(--font_size);

        width: 240px;
    }


    .error_info .image
    {
        margin-top: 60px;
    }

    .error_info .image img
    {
        width: 240px;
    }



    /*------------
        Footer
    ------------*/
    footer .time,
    footer .branch .name
    {
        font-size: 18px;
    }


    footer .branch {
        margin-top: 24px;
    }


    footer .center
    {
        margin-left: auto;
    }


    footer .contacts
    {
        font-size: 20px;
    }


    footer .contacts > *
    {
        width: calc(50% - 24px);
    }


    footer .links
    {
        column-gap: 48px;
    }


    footer .socials
    {
        position: absolute;
        right: 24px;
        bottom: 60px;

        display: flex;
        flex-direction: column;
    }


    footer .socials a + a
    {
        margin-top: 12px;
        margin-left: 0;
    }


    footer .socials .icon
    {
        width: 44px;
        height: 44px;
    }



    /*-----------
        PopUp
    -----------*/
}
